{% extends "registration/base.html" %}
{% load staticfiles %}


{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if p_text %}
        <h1>{{ p_text }}</h1>
      {% else %}
        <!-- <h1>Register Here</h1>
        <h3>Just fill out the form.</h3> -->

<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="{{ button_val }}">
        </form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}
